@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --black: #000;
    --white: #ddd;
    --turquoise: #09eae1;
    --turquoise-rgba: 9, 234, 225;
    --violet: #c09;
    --violet-rgba: 204, 0, 153;
}

#root {
    margin: 0 auto;
    position: relative;
    width: 380px;
}

body {
    background-image: url('/images/Background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
    font-family: 'Exo 2', Verdana, Arial, sans-serif;
    font-size: 12px;
    color: var(--white);
    padding-bottom: 50px;
    margin: 0;
    display: flex;
    min-width: 320px;
    min-height: 100vh;
}

.violet-mode {
    h2,
    .dice {
        border-color: var(--violet);
        color: var(--violet);
    }

    .active-dice {
        background-color: var(--violet);
        color: var(--white);
    }

    a,
    nav a,
    .highlight {
        color: var(--violet);
    }

    nav {
        border-top: 3px solid var(--violet);
        box-shadow: 0 0 15px 10px var(--violet);
    }

    .card {
        border-color: var(--violet);
        box-shadow: inset 0 10px 20px rgba(var(--violet-rgba), 0.5);
    }
}

.turquoise-mode {
    h2,
    .dice {
        border-color: var(--turquoise);
        color: var(--turquoise);
    }

    .active-dice {
        background-color: var(--turquoise);
        color: var(--black);
    }

    a,
    nav a,
    .highlight {
        color: var(--turquoise);
    }

    nav {
        border-top: 3px solid var(--turquoise);
        box-shadow: 0 0 15px 10px var(--turquoise);
    }

    .card {
        border-color: var(--turquoise);
        box-shadow: inset 0 10px 20px rgba(var(--turquoise-rgba), 0.5);
    }
}

.modal {
    display: none;
    z-index: 100;
}

strong {
    text-transform: uppercase;
}

ul,
ol {
    padding-left: 15px;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;

    &.list-margin {
        margin: 10px;
    }
}

ul {
    list-style-type: square;
}

ol {
    list-style-type: decimal;
}

h2 {
    border-left: 3px solid;
    margin: 0;
    padding-bottom: 0;
}

p {
    margin-bottom: 15px;
    line-height: 1.2rem;
}

img {
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

p,
span {
    font-size: 14px;
}

a {
    font-weight: bold;
}

table {
    tr {
        th {
            padding: 4px;
            font-size: 14px;
        }

        td {
            padding: 6px;
            font-size: 14px;
        }
    }
}

.card {
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border: 3px solid;
    padding: 20px 15px;
    margin: 0 20px 20px;

    &.card-margin {
        margin: 20px 0;
    }
}

.dice {
    cursor: pointer;
    border: 2px solid;
    border-radius: 7px;
    padding: 5px;
    height: 35px;
    width: 35px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

nav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    z-index: 10;

    > a {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px;
    }
}

.preloader {
    animation: spinner 2s linear infinite;
}

.empty-dice {
    animation: spinner 500ms linear infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}
