@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --black-1: #000;
    --black-2: #000;
    --white-1: #fff;
    --white-2: #ddd;
    --turquoise-1: #09eae1;
    --turquoise-2: #00c1cb;
    --violet-1: #ac00ff;
    --violet-2: #8f00fe;
    --violet-3: #7500d7;
}

.t-1 {
    color: var(--turquoise-1);
}

.v-1 {
    color: var(--violet-1);
}

#root {
    margin: 0 auto;
    width: 380px;
}

body {
    background-color: var(--black-1);
    font-family: 'Exo 2', sans-serif;
    font-size: 12px;
    color: var(--white-2);
    padding-bottom: 30px;
    margin: 0;
    display: flex;
    min-width: 320px;
    min-height: 100vh;
}

ul,
ol {
    padding-left: 25px;
    font-size: 14px;
    line-height: 1.5;
}

ul {
    list-style-type: square;
}

ol {
    list-style-type: decimal;
}

h2 {
    border-left: 3px solid var(--turquoise-1);
    color: var(--turquoise-1);
    padding-bottom: 0;
    margin: 0;
}

p {
    margin: 10px 0;
    line-height: 1.2rem;
}

p > strong {
    color: var(--turquoise-1);
}

p,
span {
    font-size: 14px;
}

a {
    font-weight: bold;
    font-size: 14px;
    color: var(--violet-1);
}

section img {
    border-radius: 5px;
}

table tr th {
    padding: 4px;
    font-size: 14px;
}

table tr td {
    padding: 7px;
    font-size: 14px;
}

hr {
    border: none;
    height: 2px;
    background-color: var(--violet-1);
    margin: 20px 0;
}

.dice {
    cursor: pointer;
    border: 2px solid var(--black-1);
    color: var(--turquoise-1);
    border-radius: 5px;
    padding: 5px;
    height: 35px;
    width: 35px;
    text-align: center;
    font-size: 14px;
}

.active-dice {
    background-color: var(--turquoise-1);
    color: var(--black-1);
}

.mobile-nav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--black-1);
    justify-items: center;
    align-items: baseline;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 20px;
    border-top: 3px solid var(--turquoise-1);
    -webkit-box-shadow: 0 0 15px 10px var(--turquoise-1);
    -moz-box-shadow: 0 0 15px 10px var(--turquoise-1);
    box-shadow: 0 0 15px 10px var(--turquoise-1);
}

.mobile-nav > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ddd;
    padding: 5px;
}

.mobile-nav a:hover {
    color: var(--turquoise-1);
}
