@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --black: #000;
    --white: #ddd;
    --turquoise: #09eae1;
    --turquoise-rgba: 9, 234, 225;
    --violet: #c09;
    --violet-rgba: 204, 0, 153;
}

#root {
    position: relative;
    margin: 20px auto;
    width: 380px;
}

body {
    background-color: var(--black);
    padding: 0;
    font-family: 'Exo 2', Verdana, Arial, sans-serif;
    font-size: 14px;
    color: var(--white);
    margin: 0;
    display: flex;
    min-width: 320px;
    min-height: 100vh;
}

.headline {
    color: var(--black);
    width: 100%;
    text-align: center;
    margin-top: 10px;
    padding: 40px auto 10px;
    font-size: 20px;
    font-weight: bold;
}

.turquoise-mode,
.violet-mode {
    height: 100%;
}

.turquoise-mode {
    .headline {
        background-color: var(--turquoise);
    }

    .dice {
        color: var(--turquoise);
    }

    a,
    nav a,
    .highlight {
        color: var(--turquoise);
    }

    header {
        border-bottom: 3px solid var(--turquoise);
        box-shadow: 0 0 10px 5px var(--turquoise);
    }

    nav {
        border-top: 3px solid var(--turquoise);
        box-shadow: 0 10px 10px 15px var(--turquoise);
    }

    .card {
        border-color: var(--turquoise);
        box-shadow: inset 0 10px 20px rgba(var(--turquoise-rgba), 0.5);
    }
}

.violet-mode {
    .headline {
        background-color: var(--violet);
    }

    .dice {
        color: var(--violet);
    }

    a,
    nav a,
    .highlight {
        color: var(--violet);
    }

    header {
        border-bottom: 3px solid var(--violet);
        box-shadow: 0 0 10px 5px var(--violet);
    }

    nav {
        border-top: 3px solid var(--violet);
        box-shadow: 0 10px 10px 15px var(--violet);
    }

    .card {
        border-color: var(--violet);
        box-shadow: inset 0 10px 20px rgba(var(--violet-rgba), 0.5);
    }
}

strong {
    text-transform: uppercase;
}

ul,
ol {
    padding-left: 15px;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;

    &.list-margin {
        margin: 10px;
    }
}

ul {
    list-style-type: square;
}

ol {
    list-style-type: decimal;
}

p {
    margin-bottom: 15px;
    line-height: 1.2rem;
}

p,
span {
    font-size: 14px;
}

a {
    font-weight: bold;
}

table {
    tr {
        th {
            padding: 4px;
            font-size: 14px;
        }

        td {
            padding: 6px;
            font-size: 14px;
        }
    }
}

.card {
    border: 3px solid;
    padding: 15px;
    width: 100%;
    z-index: 40;

    + .card {
        border-top: none;
    }

    &.card-margin {
        margin: 20px 0;
    }
}

.dice {
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 20px;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    height: 31px;
    width: 100%;
    background-color: var(--black);
    z-index: 10;
}

nav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    padding: 2px 20px;
    z-index: 10;

    > a {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px;
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
}

.preloader {
    animation: spinner 2s linear infinite;
    z-index: 100;
}

.active-dice {
    animation: spinner 250ms linear infinite;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}
