:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

ul,
ol {
  padding-left: 18px;
  margin-bottom: 10px;
  font-size: 14px;
}

ul {
  list-style-type: square;
}

ol {
  list-style-type: decimal;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}
